/* common styles */

body {
    margin: 0;
    font-family: var(--main-font);
}

body * {
    box-sizing: border-box;
}

:root {
    --main-font: 'Nunito Sans', sans-serif;
    --heading-font: 'Yeseva One', cursive;
    ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
}

.btn {
    background-color: #E3B873;
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    cursor: pointer;
}

.btn:hover {
    background-color: #dda955;
}

/* header */

.header {
    background-color: #131313;
}

.header-content {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header-logo__link {
    color: #E3B873;
}

.header-nav-list {
    list-style: none;
    display: flex;
}

.header-nav-list__item {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header-nav-list__item:not(:last-of-type) {
    margin-right: 47.09px;
}

.header-nav-list__link {
    color: #fff;
}

.header-nav-list__link:hover {
    color: #E3B873;
}

.header-phone-link {
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
    text-decoration: underline;
}

.header-btn {
    text-transform: uppercase;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    padding: 13px 33px;
}

/* hero */

.section-hero {
    height: 707px;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('./img/hero-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container {
    padding-left: 42px;
}

.hero-content {
    padding-top: 194px;
    width: 520px;
}

.hero__heading {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 53.13px;
    color: #fff;
    margin-bottom: 19px;
}

.golden-text {
    color: #E3B873;
}

.hero__text {
    color: #fff;
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
    width: 470px;
}

.hero__btns-container {
    margin-top: 41px;
}

.hero-btn {
    font-size: 11px;
    line-height: 15px;
    font-style: italic;
    padding: 19px 42px 20.65px 41px;
}

.transparent-btn {
    background: transparent;
    padding: 19.09px 23px 20.57px 22px;
    border: 1px solid #fff;
    box-shadow: none;
}

.transparent-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* completed projects */

.section-completed {
    background-color: #131313;
    height: 1074px;
}

.completed-container {
    padding-left: 42px;
    padding-right: 44px;
}